.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
}

.companyTitle {
  color: #fff;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
}

.navLink {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.navLink:hover,
.activeNavLink {
  color: #38b2ac;
}
